:root {
  //PX
  --px-sm: 8px;
  --px-md: 12px;
  --px-lg: 16px;
  --px-xl: 32px;

  //COLORS
  --colors-gray: gray;
  --colors-dark: black;
  --colors-red: tomato;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  padding: 0;
  margin: 0;
}